In [1]:
import pandas as pd

In [2]:
data=pd.read_csv("marks.csv")

In [3]:
data

   hours  marks
0      5     50
1      8     80
2      2     20
3      3     30
4      6     60

In [5]:
data.iloc[:2,:2]

   hours  marks
0      5     50
1      8     80

In [6]:
data["marks"]

0    50
1    80
2    20
3    30
4    60
Name: marks, dtype: int64

In [30]:
y=data.iloc[:,1]
X=data.iloc[:,0:1]

In [35]:
X.shape

(5, 1)

In [10]:
from sklearn.linear_model import LinearRegression

In [11]:
model=LinearRegression()

In [31]:
model.fit(X,y)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None,
         normalize=False)

In [32]:
data

   hours  marks
0      5     50
1      8     80
2      2     20
3      3     30
4      6     60

In [33]:
model.predict([[7],[9]])

array([70., 90.])

In [34]:
model.predict([[0]])

array([0.])

In [37]:
model.coef_

array([10.])